header {
    background: url(../images/laptop-image.jpg) top / cover;
    height: 60vh;
    justify-content: center;
    text-align: center;
}

header h1 {
    font-weight: bold;
    color: hsla(0, 0%, 100%, 0.9);
}

.slogan {
    font-weight: lighter;
    color: hsla(0, 0%, 100%, 0.8);
    font-size: 1.6rem;
}